<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test" verbose="5">


	<test name="Amazon Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="http://www.amazon.com" />

		<classes>
			<class name="TestNgSessions.AmazonTest" />
		</classes>

	</test>

	<test name="Orange HRM Test">
		<parameter name="browser" value="firefox" />
		<parameter name="url"
			value="https://www.orangehrm.com/orangehrm-30-day-trial/" />
		<classes>
			<class name="TestNgSessions.OrangeHrmTest" />
		</classes>

	</test>

	<test name="Classic CRM Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="http://classic.crmpro.com/" />
		<classes>
			<class name="TestNgSessions.ClassinCrmTest" />
		</classes>

	</test>


</suite>